body{
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

table {
    border-collapse: collapse;
    border: 1px solid black;
}

td {
    border: 1px solid black;
    padding: 0;
}

th {
    padding: 0;
    text-align: center;
    background-color: #800000;
    color: white;
    border: 1px solid black;
    position: sticky;
    top: 0;
}

  

input {
    padding:2px;  
    border: none;
    outline-width: 0;
}

.error{
    background-color: red;
    font-weight: 500;
    color: white;
}

.pending{
    background-color: #ddd;
    font-weight: normal;
    color: black;
}

.read-only{
    background-color: #ddd;
    font-weight: normal;
    color: #555;
    font-size: .8rem;
    padding:2px;  
}

.message{
    background-color: #ddd;
    font-weight: 500;
    color: black;
    text-align: center;
    padding:1rem;

}

#exception{
    margin: 1rem;
    padding:1rem;
    background-color: rgb(200, 0, 0);
    color:white;
    font-weight: 500;
    display:none
}

